.blog, .archive {
  article {
    border-bottom:4px solid $grayMedium;
    margin-bottom: $base-line-height+7px;
    header {
      .shadow {
        line-height:0;
      }
    }
    h1 {
      @extend .uppercase;
      @include font-shorthand(36px, bold, 36px);
      margin-bottom:0;
      padding-bottom:10px;
      a {
        &:link, &:visited {
        color:$black;
        }
      }
      font-family:$alternate-font-family;
  }
  .featured-image {
    @extend .position-relative;
    width:100%;
    line-height:0;
  }
  }
  .post-meta {
    font-size:.8em;
  }
  #search-btn {
    @extend .display-none;
  }
  #secondary {
    @extend .position-relative;
    .video {
      margin:1.5em 0;
    }
    p {color:$white;@include font-shorthand(12px, normal, 16px);}
    #searchform {
      @extend .pagination-centered;
      input {
        @extend .rounded;
        @include box-shadow(inset 0 1px 3px #000);
        border:none;
        color:rgba(255,255,255,.38);
        padding:1em 2em;
        width:70%;
      background: #797979 url('img/search-blog.png') 14.5em center no-repeat;
      }
    }
  }
}
#blog-sidebar-header {
  @include font-shorthand(12px, normal, 25px);
  @extend .pagination-centered;
  font-family:Arial, sans-serif;
  margin-bottom:30px;
  .archive & {margin-bottom:0;}
  aside {
    @extend .light-gray-gradient;
    @extend .shadow;
    border-bottom:1px solid #bdbdbe;
    height:25px;
    margin-bottom:0;
  }
  a {
    text-transform:capitalize;
  }
  h3 {
    @include font-shorthand(12px, normal, 25px);
    @extend .display-inline;
    @extend .uppercase;
  }
  a, h3 {
    padding-right:12px;
  }
}

#the-forge-header {
  line-height:50px;
  span {
    @include size(29px, 287px);
    @include hide-text;
    @extend .display-inline-block;
    background:  url("img/the-forge-blog-logo.png") no-repeat;
	}
}
#subscribe {
  @extend .medium-blue-gradient;
  margin:0 -15px 20px; 
  text-align:center;
  h2 {
    @include font-shorthand(20px, normal, 34px);
    @extend .button-font-family;
    @extend .uppercase;
    color:$white;
    font-weight:normal;
    padding-top:.2em;
  	background: url("img/rss-cones.png") no-repeat 55px 5px;
  	@extend .text-shadow-dark;
    span {
      @include font-shorthand(12px, normal, 18px);
      @extend .display-block;
    	background: #6d6d6d url("img/rss-bug.png") no-repeat 55px 13px;
      padding:1em;
      text-transform:normal;
    }
  }
}