.column1 {@include column(1);}
.column2 {@include column(2);}
.column3 {@include column(3);}
.column4 {@include column(4);}
.column5 {@include column(5);}
.column6 {@include column(6);}
.column7 {@include column(7);}
.column8 {@include column(8);}
.column9 {@include column(9);}
.column10 {@include column(10);}
.column11 {@include column(11);}
.column12 {@include column(12);}

.max-width {
  max-width: 960px;
}
.centered {
  margin: 0 auto;
}
.home #main-inner, .site-info, #hero .inner, #primary, #primary {
  @extend .max-width;
	@extend .centered;
	z-index:5;
	position:relative;
}
#masthead {
  @extend .max-width;
  @extend .centered;
  @extend .clearfix;
  z-index:1000;
  position:relative;
  hgroup {
    @extend .float-left;
  }
}
#main {
  padding-top:25px;
	position:relative;
}
#main-inner {
  @extend .clearfix;
  .home & {
    margin-bottom:80px;
  }
}
.row {@include row();}
.home {
  #primary {
    @extend .column8;
  }
  #secondary {
    @extend .column4;
  }
  #hero {
    margin-right:-5%;
  }
  #content {
    @include row(8);
    .col1,.col2 {
      @include column(4,8);
    }
  }
}

.page-template {
  #hero {
    .col1 {
      @extend .column4;
    }
    .col2 {
      @extend .column8;
    }
  }
}

.donate, .contact {
  .menu-main-nav-container {@extend .display-none;}
  #main {padding-top:0;}
  #hero {padding-top:25px;}
  #content {
    .col1, .col2 {
      @extend .column6;
    }
  }
}

.blog {
  #main {
    @extend .max-width;
    @extend .centered;
    @extend .clearfix;
  }
  #primary {
    @extend .column8;
  }
  #secondary {
    @extend .column4;
  }
}