.column1 {@include column(1);}
.column2 {@include column(2);}
.column3 {@include column(3);}
.column4 {@include column(4);}
.column5 {@include column(5);}
.column6 {@include column(6);}
.column7 {@include column(7);}
.column8 {@include column(8);}
.column9 {@include column(9);}
.column10 {@include column(10);}
.column11 {@include column(11);}
.column12 {@include column(12);}

.max-width {
  max-width: 960px;
}
.centered {
  margin: 0 auto;
}
nav[role='navigation'] {
  @extend .max-width;
  li {
    width:25%;
  }
}
.home #main-inner, .site-info, #hero .inner, #primary, #primary {
  @extend .max-width;
	@extend .centered;
	z-index:5;
	position:relative;
}
.CPContent, .CPHeader {
  @extend .max-width;
	@extend .centered;
}
.CPContent {
  .leftContentColumn {
    @extend .column8;
  }
  .rightSidebar {
    @extend .column4;
  }
}
.site-content, #main-inner, #hero .inner {
  padding-left: 1.38889%;
  padding-right: 1.38889%;
}
#masthead .inner {
  @extend .max-width;
  @extend .centered;
  @extend .clearfix;
  z-index:1000;
  position:relative;
}
.row {@include row();}
.home {
  #primary {
    @extend .column8;
    z-index:5;
  }
  #secondary {
    @extend .column4;
    z-index:100;
  }
  #hero {
    margin-right:-6%;
  }
  #content {
    @include row(8);
    .col1,.col2 {
      @include column(4,8);
    }
  }
  #main {
    padding-top:25px;
  	position:relative;
  }
  #main-inner {
    @extend .clearfix;
    padding-bottom:80px;
  }
  .site-content, #main-inner {
    padding-left:0;
    padding-right:0;
  }
  #main-outer {
    @extend .clearfix;
  }
  }

#under-cover {
  .col1 {
    @include column(8);
    #press-release-slider, .viewport {
      height: 200px;
      overflow:hidden; 
      width:100%;
//      width:600px;
    }
    #press-release-slider {
      height:240px;
    }
      .press-release-slide{
        float:left;
        width:600px;
        height:200px;
      }
  }
  .col2 {
    @include column(4);
  }
}


@media only screen and (max-width: 768px) {
  .page-template-page-about-php #hero .col1 {
    display: block;
    width: auto; } }
@media only screen and (max-width: 768px) {
  .page-template-page-about-php #hero .col2 {
    display: none; } }


.page-template {
  #hero {
    .col1 {
      @extend .column4;
    }
    .col2 {
      @extend .column8;
    }
  }
}



.page {
  #main {padding-top:0;}
  #content {
    .col1, .col2 {
      @extend .column6;
    }
  }
}
.donate .menu-main-nav-container {
  @include respond-to(desktop){
  display:none;
  }
}
.blog {
  #main {
    @extend .max-width;
    @extend .centered;
    @extend .clearfix;
  }
  #primary {
    @extend .column8;
  }
  #secondary {
    @extend .column4;
  }
}

.archive, .search, .error404 {
  #main-inner {
    @extend .max-width;
  	@extend .centered;
  	@extend .clearfix;
  }
  #primary {
    @extend .column8;
  }
  #secondary {
    @extend .column4;
  }
}