/* =Menu
----------------------------------------------- */
//hgroup {
//  margin-left:1.38889%;
//}
#masthead {
  @include box-shadow(0 0 -4px rgba(0,0,0,.20));
  position:fixed;
  bottom:0;
  z-index:1000;
  overflow:auto;
}
nav[role='navigation'] {
  font: 0/0 a;
  white-space: nowrap;
  a {
    @include font-shorthand(12px, auto, $nav-height);
    @extend .alternate-font-family;
    @extend .uppercase;
    @extend .no-underline;
    @extend .display-inline-block;
    color:$base-text-color;
    padding:0 2em;
    position:relative;
    height:$nav-height;
    line-height:$nav-height;
    white-space: nowrap;
    background-color:transparent;
  }
  &.paging-navigation a:hover {
    color:$black;
    text-decoration:underline;
  }
  ul {
    @extend .no-margin-or-padding;
    position:relative;
  }
  li {
    @extend .display-inline-block;
    height:$nav-height;
    text-align:center;
    position:relative;
    border-right:1px solid #dddddd;
    &.gradient {
//      @include gradient-reset-filter();
//      background-image:none;
//      background-color:$white;
      }
    }
  }