.button-font-family {
  font-family: $button-font-family;
}

footer {
  &.site-footer {
    background-color:#000;
    color:#fff;
    font-size:12px;
    padding:45px 0;
    text-align:center;
    color:$footer-text-color;
    a {
      color:$footer-text-color;
      padding:0 1em;
      &:hover {
        color:white;
      }
    }
    address {
      margin:0 0 1.5em 0;
      a {text-decoration:underline;}
    }
  }
}

.made-in-usa {
  background:transparent url('img/made-in-usa.png') left center no-repeat;
  @include size(22px, 44px);
  @extend .display-inline-block;
}
.gradient a {
  color:$white;
}
.red-gradient {
  background-color:$red;
  color:white;
  @include gradient-vertical($red, #9c0c0a);
}
.light-red-gradient {
  background-color:$redLight;
  color:$white;
  @include gradient-vertical($redLight, #c91211);
}
.light-blue-gradient {
  background-color:$blueLighter;
  color:white;
  @include gradient-vertical($blueLighter,#73bbf8);
}
.medium-blue-gradient {
  background-color:$blueLight;
  color:white;
  @include gradient-vertical($blueLight,#1d61d7);
}
.blue-gradient {
  background-color:$blueDarker;
  color:white;
  @include gradient-vertical($blueDarker,#05203e);
}
.orange-gradient {
  background-color:$orange;
  color:white;
  @include gradient-vertical($orange,#f54a18);
}
.dark-gray-gradient {
  background-color:#727272;
  color:$white;
  @include gradient-vertical(#727272,#555555);
}
.light-gray-gradient {
  background-color:#dfdfdf;
  color:$white;
  @include gradient-vertical(#ededed,#d1d1d1);
}

.btn {
  font-size:.8em;
    @include size(90%, auto);
    @include respond-to('desktop') {
      font-size:1em;
    }
  padding:.7em 1em;
  text-align:center;
  @extend .uppercase;
  @extend .display-inline-block;
  @extend .text-shadow-dark;
  &:hover {
    text-decoration:none;
  }
  &.red-gradient {
    &:hover, &.hover {
    background-color:$red;
    color:white;
    @include gradient-vertical(darken($red, 5), darken(#9c0c0a, 15));
    }
    &:active {
      @include gradient-vertical(darken(#9c0c0a, 15),darken($red, 5));
    }
  }
  &.light-red-gradient {
    &:hover, &.light-red-gradient.hover {
    background-color:$redLight;
    color:$white;
    @include gradient-vertical(darken($redLight, 10), darken(#c91211, 20));
    }
    &:active {
      @include gradient-vertical(darken(#c91211, 20),darken($redLight, 10));
    }
  }
  &.light-blue-gradient {
    &:hover, &.light-blue-gradient.hover {
    background-color:$blueLighter;
    color:white;
    @include gradient-vertical(darken($blueLighter,10),darken(#73bbf8,20));
    }
    &:active {
      @include gradient-vertical(darken(#73bbf8,20),darken($blueLighter,10));
    }
  }
  &.medium-blue-gradient {
    &:hover, &.medium-blue-gradient.hover {
    background-color:$blueLight;
    color:white;
    @include gradient-vertical(darken($blueLight, 10), darken(#1d61d7, 20));
    }
    &:active {
      @include gradient-vertical(darken(#1d61d7, 20),darken($blueLight, 10));
    }
  }
  &.blue-gradient {
    &:hover, &.blue-gradient.hover {
    background-color:$blueDarker;
    color:white;
    @include gradient-vertical(darken($blueDarker,5),darken(#05203e,15));
    }
    &:active {
      @include gradient-vertical(darken(#05203e,15),darken($blueDarker,5));
    }
  }
  &.orange-gradient {
    &:hover, &.orange-gradient.hover {
    background-color:$orange;
    color:white;
    @include gradient-vertical(darken($orange,10),darken(#f54a18,20));
    }
    &:active {
      @include gradient-vertical(darken(#f54a18,20),darken($orange,10));
    }
  }
  &:visited {
    color:$white;
  }
  &:active {
    @include box-shadow(inset 0 1px 5px rgba(0,0,0,.5)); 
  }
}
.rounded {
  @include border-radius(37px);
}

.arrow-up {
	width: 0; 
	height: 0; 
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	
	border-bottom: 5px solid black;
}

.arrow-down {
	width: 0; 
	height: 0; 
	border-left: 20px solid transparent;
	border-right: 20px solid transparent;
	
	border-top: 20px solid #f00;
}

.arrow-right {
	width: 0; 
	height: 0; 
	border-top: 6px solid transparent;
	border-bottom: 6px solid transparent;
	border-left: 6px solid $white;
}

.arrow-left {
	width: 0; 
	height: 0; 
	border-top: 10px solid transparent;
	border-bottom: 10px solid transparent; 
	border-right:10px solid blue; 
}

.shadow {
  position: relative;  
  background-color: $white;
  @include box-shadow(0 0 8px rgba(0,0,0,.20)); 
}

[class*="shadow-curl-"], .featured-image {
  @extend .position-relative;
  margin-bottom:1em;
  &:before, &:after {
  	position: absolute;
    width:85%;
    height:200px;
  	content: ' ';
  	bottom: 9px;
  	background: transparent;
    z-index: -1;    
    pointer-events:none;
  }
}
.shadow-curl-left:before, .featured-image:before {
	@include box-shadow(0 10px 10px 5px rgba(0,0,0,.15));
  @include skew-rotate(-5deg, -2deg);
  left: 12px;
}
.shadow-curl-right:after
{
	@include box-shadow(0 10px 10px 5px rgba(0,0,0,.15));
  @include skew-rotate(5deg, 2deg);
	right: 12px;
}
.diag-stripes {
background:transparent url('img/striped-bg.png');
}

.base-drop-shadow {
  @include box-shadow(0 1px 5px rgba(0,0,0,.35));
}

.uppercase {
  text-transform:uppercase;
}

.text-shadow-dark {
  text-shadow:1px 0 5px rgba(0,0,0,.35);
}
.post-meta {
  @extend .display-block;
	@extend .uppercase;
  font-size:9px;
  font-family:Arial, sans-serif;
	letter-spacing: .1em;
	margin:.3em 0 .2em;
  word-spacing: .2em;
}


.pagination {
  height: 40px;
  margin: 20px 0;
  ul {
    display: inline-block;
    *display: inline;
    font-family:Arial, sans-serif;
    font-size:12px;
    margin-bottom: 0;
    margin-left: 0;
    @include border-radius(30px);
    *zoom: 1;
    @include box-shadow(0 1px 2px rgba(0,0,0,.35));
    > li {
      display: inline;
    }
  }
}


.pagination ul > li > a,
.pagination ul > li > span {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: #f3f3f3;
  @include gradient-vertical($white, #f3f3f3);
  border: 1px solid #dddddd;
  border-left-width: 0;
}

.pagination ul > li > a:hover,
.pagination ul > .active > a,
.pagination ul > .active > span {
  background-color: #f5f5f5;
}

.orange.pagination ul > {
  li > a:hover, .active > a, .active > span {@extend .orange-gradient;color:$white;}
  }
.blue.pagination ul > {
  li > a:hover, .active > a, .active > span, .current {@extend .blue-gradient;color:$white!important;}
  }

.pagination ul > .active > a,
.pagination ul > .active > span {
  color: #999999;
  cursor: default;
}

.pagination ul > .disabled > span,
.pagination ul > .disabled > a,
.pagination ul > .disabled > a:hover {
  color: #999999;
  cursor: default;
  background-color: transparent;
}

.pagination ul > li:first-child > a,
.pagination ul > li:first-child > span {
  border-left-width: 1px;
  -webkit-border-radius: 30px 0 0 30px;
     -moz-border-radius: 30px 0 0 30px;
          border-radius: 30px 0 0 30px;
}

.pagination ul > li:last-child > a,
.pagination ul > li:last-child > span {
  -webkit-border-radius: 0 30px 30px 0;
     -moz-border-radius: 0 30px 30px 0;
          border-radius: 0 30px 30px 0;
}

.pagination-centered {
  text-align: center;
}

.pagination-right {
  text-align: right;
}

.no-underline {
  text-decoration:none;
}


// WIDGETS
.widgets {
  @extend .shadow;
  padding:0 10px 15px;
  margin-bottom:30px;
  header {
    margin:0 -10px 10px;
    text-align:center;
    height:40px;
  }
  .btn {
    @extend .display-block;
    @extend .base-drop-shadow;
    width:70%;
    margin:1em auto 0;
  }
  .title {line-height:40px;color:$white;font-size:18px;@extend .uppercase;}
  &#action-dashboard h2 {font-family: 'Bree Serif', serif;}
  .widget-title {
    text-align:center;
  }
  &#score-card {
    h2 {
      background:transparent url('img/score-card.png') center no-repeat;
      text-indent:-9999em;
    }
  }
  .post-title {
    @extend .alternate-font-family;
    @extend .display-block;
    font-size:18px;
  }
}

#key-votes {
  ul.items {
    @extend .no-bullets;
    margin-left:0;
    li {
      margin:1em 0;
      padding-left:25px;
      background: url('img/bullet-default.png') 0 0 no-repeat;
      &.yes {
        background: url('img/bullet-yes.png') 0 0 no-repeat;      
      }
      &.no {
        background: url('img/bullet-no.png') 0 4px no-repeat;      
      }
      &:last-of-type {
        display:none;
        @include respond-to(desktop) {
          display:block;
        }
      }
    }
    a {
      text-decoration:none;
      color:$base-text-color;
    }
  }
  .post-title:hover {text-decoration:underline;}  
}
#action-dashboard {
  text-align:center;
  #enter_your_zip {
    @include gradient-vertical(#e9e9e9, #fcfcfc);
    padding:1em;
  	text-align:center;
  }
}

.home {
  #main-outer {
    padding-top:40px;
    background:#f3f3f3 url('img/bg-capital-left.jpg') left top no-repeat; 
    @include respond-to(tablet-large-landscape) {
      background-position: bottom; 
      padding-top:0;
    }
  }
  #black-bg {
    @include respond-to(tablet-large-landscape) {
    height: 377px;
    width:100%;
    background-color:$black;
    position:absolute;
    top:0;
    z-index:1;
    }
  }
}

#secondary {
  background-color:$base-text-color;
  color:$weak-text-color;
  padding:0 15px 40px;
  position:relative;
  h3 {
    @include font-shorthand(14px, normal, 14px);
    @extend .uppercase;
    @extend .button-font-family;
    color:$blueLighter;
    border-bottom:1px solid $blueLighter;
  }
  ul,li {@extend .no-bullets;@extend .no-margin-or-padding;}
  li {margin:1em 0;}
  a {
    text-decoration:none;color:$white;
    &:hover .post-title {text-decoration:underline;}
    }
  .post-title {
    @extend .uppercase;
    @extend .display-block;
    @extend .alternate-font-family;
    @include font-shorthand(18px,bold,18px);
  }
  .meta, .excerpt {color:$extra-light-screen-color;}
  .meta {
    @extend .post-meta;
  }
  #latest-tweets .meta {
    margin-bottom:-.4em;
  }
  .excerpt {@extend .small-font;}
  #read-the-forge {width:65%;margin:2em auto;@extend .display-block;}
  #follow-twitter {
    @include size(20px,146px);
    @extend .display-block;
    background:transparent url('img/follow-twitter.png') center no-repeat;
    margin:auto auto;
    text-indent:-9999em;
  }
}
#latest-tweets {
  @extend .display-none;
  @include respond-to(tablet-large-landscape) {
    display:block;
  }
}

#the-forge {
  @extend .base-drop-shadow;
  text-align:center;
  margin:0 -15px 20px; 
  h2 {
    line-height:40px;color:$white;
    background:transparent url('img/the-forge.png') center no-repeat;
    text-indent:-9999em;
  }
}

// ===================
// = sign up section =
// ===================
#sign-up {
  @include box-shadow(inset 0 2px 5px rgba(0,0,0,.30));
  @include box-shadow(0 8px 15px rgba(0,0,0,.45));
  @extend .position-relative;
  bottom:0;
  width:100%;
  background-color:$white;
  border-top:10px solid $blue;
  margin:2em 0 0;
  text-align:center;
  padding-bottom:1em;
  z-index:50; //over top #under-cover
  margin-top:-40px!important;
  @include respond-to(desktop) {
    &.fixed {
      position:fixed;
      bottom:-166px;
    }    
  }
  .btn {
    @extend .base-drop-shadow;
    @extend .display-inline-block;
    margin-top:-10px;
  }
  form {
    margin-top:3em;
    input {
      @include gradient-vertical(#e9e9e9, #fcfcfc);
      @include border-radius(0);
      @include box-shadow(inset 0 1px 2px rgba(0,0,0,.35));
      line-height:20px;
      height:20px;
      padding:1.2em;
      border:1px solid #eee;
      margin-right:1em;
      vertical-align:middle;
    }
    .inline {
      @extend .display-inline-block;
      @extend .uppercase;
      margin-right:1em;
      font-size:14px;
    }
  }
  #interest {
    @extend .button-font-family;
  }
}

#sign-up-tab {
  @include size(30px,137px);
  @extend .centered;
  @extend .alternate-font-family;
  @extend .uppercase;
  @extend .text-shadow-dark;
  margin-top:-40px!important;
  font-size:18px;
  text-align:center;
  padding-top:11px;
}

// ===============================================
// = under cover section / recent press releases =
// ===============================================

#under-cover {
  @extend .clearfix;
  @extend .position-relative;
  background:#4d4d4d url('img/striped-bg-light.png');
  padding-top:3em;
  z-index:40; //underneath #sign-up
  .inner {
    @extend .centered;
    @extend .max-width;
  }
  h4 {
    font-size:24px;
    line-height:24px;
  }
  .social {
    margin-top:.6em;
    text-align:center;
    @include respond-to(tablet) {
      text-align:left;
    }
    img {
      padding:0 .2em;
    }
  }
  .btn {
    width:50%;
  }
}
.video {
  @extend .position-relative;
  line-height:0;
  a {
    @extend .display-inline-block;
  }
  .overlay {
    @extend .position-absolute;
    @include size(100%,100%);
    background: url('img/video-overlay.png');
    top:0;
    pointer-events: none;
  }
}

.shadow-full {
  @include box-shadow(0 0 15px rgba(0,0,0,.4));
}

h1 {
  @include respond-to(desktop){
  font-family:$header-font-family;
  }
  padding-bottom:32px;
}


// =========
// = Pages =
// =========
.page-template {
  &.page-template-page-about-php #main-inner {
    background:#eff0f0 url('img/bg-capital-center.jpg') center bottom no-repeat;
    padding-top:2em;
  }
  #content {
    .col2 {
      min-height: 12em;
      display: table-cell;
      vertical-align: middle; 
    }
  }
}

// section.team-info on home page
.team-info {
  @include row();
  margin-bottom:40px;
  h2 {padding-top:35px;@extend .base-font-family;@extend .normal;}
  .info-detail {
    margin-left: 200px;
  }
  .title {
    @extend .uppercase;
    @extend .post-meta;
    @extend .normal;
    color:$grayLight;
    font-size:11px;
  }
  .partner-image {
    &::before, &::after {
      width:60%;
      height:70%;
    }
    &::before {
      @include skew-rotate(-11deg, -6deg); 
      left:8px;     
    }
    &::after {
    @include skew-rotate(11deg, 6deg);
    right:8px;
  }
//  remove bottom 'padding'
  line-height:0;
  font-size:0
  }
}

.ribbon {
  background: $red;
  @extend .red-gradient;
  @extend .pagination-centered;
  @include respond-to(desktop){
  font-family:$header-font-family;
  }
  font-size:30px;
  position: relative;
  padding: .5em 1em; /* Adjust to suit */
  margin: 0 -.5em .5em; /* Based on 24px vertical rhythm. 48px bottom margin - normally 24 but the ribbon 'graphics' take up 24px themselves so we double it. */
  &:before, &:after {
    @include respond-to(desktop){
    content: "";
    position: absolute;
    display: block;
    bottom: -.5em;
    border: .75em solid darken($red, 10);
    z-index: -1;
  }
  }
  &:before {
    @include respond-to(desktop){
    left: -1em;
    border-right-width: .75em;
    border-left-color: transparent;
  }
  }
  &:after {
    @include respond-to(desktop){
    right: -1em;
    border-left-width: .75em;
    border-right-color: transparent;
  }
  }
  .ribbon-content {
   &:before, &:after {
      content: "";
      position: absolute;
      display: block;
      border-style: solid;
      border-color: darken($red, 20) transparent transparent transparent;
      bottom: -.5em;
    }
    &:before {
      left: 0;
      border-width: .5em 0 0 .5em;
    }
    &:after {
      right: 0;
      border-width: .5em .5em 0 0;
    }
  }
}

// ================
// = Hero Section =
// ================

#hero {
  position:relative;
  margin-bottom:2em;
  @include box-shadow(inset 0 2px 5px rgba(0,0,0,.1));
  .diag-stripes {
    height:185px;
    width:100%;
    position:absolute;
    bottom:-155px;
  }
  .page-template & {
      -webkit-box-shadow: 0 2px 5px rgba(0,0,0,.25),inset 0 2px 5px rgba(0,0,0,.1);
      -moz-box-shadow: 0 2px 5px rgba(0,0,0,.25),inset 0 2px 5px rgba(0,0,0,.1);
      box-shadow: 0 2px 5px rgba(0,0,0,.25),inset 0 2px 5px rgba(0,0,0,.1);
      padding-bottom:2em;
      margin-bottom:0;
      @extend .clearfix;
  }
  .single &, .page-template-default &, .page &, .archive &, .search &, .error404 & {
    background-color: #efefef;
    margin-bottom:55px;
    padding-top:40px;
  }
  .home & {
    padding-top:0;
    display:none;
    @include respond-to('desktop') {
      display:block;
    }
    @include respond-to('tablet-large-landscape') {
      padding-top:0;
      display:block;
    }
  }
  .donate & {
    padding-bottom:60px;
    background: #efefef url('img/donate-bg.png') no-repeat center bottom;
  }
  .contact & {
    margin-bottom:0;
    padding-bottom:40px;
    background-color: #efefef;
    h1 + p {padding-bottom:$base-line-height;border-bottom:1px dashed $grayLight;}
  }
}


.donate {
  #about_us+.col1 {padding-right:6em;}
  #main-inner {
    margin:-4em 0 4em 0;
  input[type=text],
  input[type=email] {width:100%;}
    .btn {
      @extend .display-block;
      @extend .centered;
      width:125px;
    }
    h1 {
      text-align:right;
      border-bottom:1px dashed #ccc;
      line-height:20px;
      padding-bottom:26px;
      }
  }
  h4 {
    @extend .button-font-family;
    @include font-shorthand(24px);
    border-bottom:1px solid $grayLight;
    color:$grey;
    padding-bottom:.5em;
    margin:1em 0 .5em;
  }
  #credit_card_exp_year_label {
    margin:0 1em 0 2em;
  }
}
#donate-by-mail {
  @extend .pagination-centered;
  @extend .italic;
  border-top:1px solid $grayLight;
  margin-top:8em;
  padding-top:2em;
  address {@include font-shorthand(12px, normal, 14px);}
}

#select-your-donation {
  margin-top:-80px;
  padding-top:1em;
  @extend .clearfix;
  .col1 {
    @include column(2,6);
  }
  .col2 {
    @include column(4,6);
    border-left:1px dashed $grayLight;
    margin-left:-2em;
    padding-left:2em;
    .help-block {margin-left:15px;}
    margin-bottom:1em
  }
  .btn {
    @extend .display-block;
    margin:1em auto 0;
    width:50%;
    clear:both;
    }
}

.contact {
  #contact_us_message {
    height:225px;
  }
  input[type=text],
   input[type=email] {width:100%;}
  #captcha {
    @extend .centered;
    @extend .italic;
    color:$black;
    width:400px;
    text-align:right;
    img {margin-left:2em;@extend .base-drop-shadow;}
  }
  .btn {
    @extend .centered;
    @extend .display-block;
    @extend .base-drop-shadow;
    width:125px;
  }
}


// Andre added styles
#sign-up-tab{
  cursor:pointer;
}
.page-template-page-donate-php .menu-main-nav-container{
  display:none;
}
.listenLiveWidget{
  float:left;
  width:293px;
  height:60px;
  position:relative;
  text-align:center;
  margin:10px 0 0 17px;
}
#listen-live {
	background: url(http://thf_media.s3.amazonaws.com/2012/png/istook_listenlive.png) no-repeat;
	display: block;
	height: 84px;
	width: 243px;
	margin-left: 15px;
	position: absolute;
	z-index: 99;
	text-indent: -9999px;
	top: 1px;
	left: 5px;
	&:hover {
  	background: url(http://thf_media.s3.amazonaws.com/2012/png/istook_listenlive_hover.png) no-repeat;
  }
}

.royalHtmlContent{
  color:#fff;
  width:643px;
  padding:70px 20px 0px 130px;
  font-size:28px;
  line-height:29px;
}
.sliderReadMore{
  display:block;
  margin-top:10px;
  width:130px;
}

// ====================
// = Home page switch =
// ====================
/* Switch */

.switch {
  position: relative;
	border: 0;
	padding: 0;
	margin: 0 auto 6em;	
	width: 150px;
}
.switch label {
  font-family:$alternate-font-family2;
  display:inline;
  color:#b7b7b7;
  text-transform:uppercase;
	
}

.items_senate{
  @extend .display-none;
}

#facebook-page-wall{
  background:#fff;
}



@media only screen {
.switch {
  width: 90px;
	legend {
  	&:after {
  	  @include gradient-vertical(#eeeeee, #fefefe);
    	@include border-radius(37px);
  	  border:1px solid #e5e5e5;
    	content: '';

    	position: absolute;
    	top: 0;
    	z-index: 0;

    	width: 100%;
    	height: 20px;

    	box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.2);
    }
  }
  input {
  	position: absolute;
    opacity: 0;
  	&:checked + label {
    	font-weight:bold;
    	text-shadow: 0 1px 0 rgba(255,255,255,0.5);
    }
    :focus + label {
    	outline: 1px dotted #fff;
    }
    &:last-of-type:checked ~ .switch-button {
    	left: 55%;
    }
  }
  label {
    float:left;
    display:inline;
  	position: absolute;
  	z-index: 2;
  	top:0px;
  	padding-top:25px;
  	width:60%;
  	&:last-of-type {
    	left: 60%;
    }
  }
  .switch-button {
  	clear: both;
  	position: absolute;
  	top: 1px;
  	left: 0;
  	z-index: 1;

  	width: 50%;
  	height: 19px;

  	@include gradient-vertical(#ffffff, #f1f1f1);
    @include border-radius(37px);

  	box-shadow: 0 3px 3px rgba(0, 0, 0, 0.27);

  	

  	-webkit-transition: all 0.3s ease-out;
  	-moz-transition: all 0.3s ease-out;
  	-o-transition: all 0.3s ease-out;
  	transition: all 0.3s ease-out;
  }
}
}

#press-release-slider .viewport { float: left; position: relative; }
#press-release-slider .buttons { display: block; margin: 30px 10px 0 0; float: left; }
#press-release-slider .next { }
#press-release-slider .disable { }
#press-release-slider .overview { list-style: none; padding: 0; margin: 0;  position: absolute; left: 0; top: 0;overflow:hidden; }
#press-release-slider .overview li{ float: left; margin: 0 20px 0 0; padding: 1px; height: 121px; border: 1px solid #dcdcdc; width: 236px;}

#press-release-slider .pager { overflow:hidden; list-style: none; clear: both; margin: 0 0 0 45px; }
#press-release-slider .pager li { float: left; }
#press-release-slider .pagenum {  }
#press-release-slider .active { 
  background-color: #fa8f4c;    
  color: white;
  background-image: -ms-linear-gradient(top, #fa8f4c, #f54a18);
  background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#fa8f4c), to(#f54a18));
  background-image: -webkit-linear-gradient(top, #fa8f4c, #f54a18);
  background-image: -o-linear-gradient(top, #fa8f4c,#f54a18);
  background-image: -moz-linear-gradient(top, #fa8f4c, #f54a18);
  background-image: linear-gradient(top, #fa8f4c,#f54a18);
  background-repeat: repeat-x;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fa8f4c', endColorstr='#f54a18', GradientType=0);
}
.press-release-slide{
  float:left;
  height:200px;
}

#fb-widget-like span{
  display:block;
  clear:both;
  width:auto!important;
}
.twitter-widget-share{
  @include respond-to(desktop){
  float:right;
  }
}

.signupSubmissionResult{
  padding-top:15px;
  font-size:18px;
  
}
.hot_disqus_thread{
  color:#fff;
}
.hot_disqus_thread .small{
  font-size:11px;
}
#hot_threads h3{
  margin-bottom:8px;
}
.page-template-page-congresspages-php #hero{
  margin-bottom:15px;
}



.dashboardTwitterFeed{
  margin-left:5px;
}
.dashboardTwitterFeed li {
  list-style:none;
  margin: 1em 0;
}
.dashboardTwitterFeed .meta {
  margin-bottom: -0.4em;
  display:block;
  
}
.twitterBlockTitle{
  font-size:14px;
}

.royalHtmlContent a{
  font-size:17px;
}
.royalSlider.minimal .arrow.right {
  right:10px;
}



// ====================================
// = Action Dashboard / Congress Page =
// ====================================

.CPTitle {
  @extend .display-none;
}
.page-template-page-congresspages-php {
  #hero {
    @include box-shadow(0 0 0 transparent);
    margin-bottom:0;
  }
  .CPWrapper {
    background-image:none;
    background-color:#efefef;
    .CPDistrict {
      display:block;
      clear:both;
      float:none;
      margin-top:0;
    }
    .changeDistrict {
      float:none;
    }
    .bioBlock {
      width:auto;
      float:none;
    }
    .miniColumn {
      .miniBlock {
        width:50%;
      }
    }
  }
  .enlargeButton {
    left:50%;
  }
  .district-map-thumb {
    width:100%;
  }
}
.tabBgCenter {
  height:42px!important;
}

.only-desktop {
  display:none;
  @include respond-to(desktop) {
    display:inherit;
  }
}
